@CHARSET "UTF-8";

html, body {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 150px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 888;
	border-top: 10px solid #ff7a20;
	
	background: #2eafb0;
	background: -moz-linear-gradient(top, #6ec1c2 0%, #2eafb0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6ec1c2),
		color-stop(100%, #2eafb0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6ec1c2 0%, #2eafb0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6ec1c2 0%, #2eafb0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6ec1c2 0%, #2eafb0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #6ec1c2 0%, #2eafb0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ec1c2',
		endColorstr='#2eafb0', GradientType=0); /* IE6-8 */
		
	-webkit-transition: height 0.3s ease;
	-moz-transition: height 0.3s ease;
	-ms-transition: height 0.3s ease;
	-o-transition: height 0.3s ease;
	transition: height 0.3s ease;
}

header div#login_div {
	float: right;
	margin-right: 20px;
}

header div#login_div a {
	color: #ffffff;
	text-decoration: none;
	font-family: Verdana, Copperplate Gothic Light, serif;
}

header div#header_title {
	display: inline-block;
	float: left;
	padding-left: 20px;
	position: relative;
	height: 150px;
	width: 100%;
	margin: 0px;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

header div#header_title h2 {
	position: absolute;
	color: #ffffff;
	font-family: verdana;
	top: 0%;
	text-align: center;
	margin: 0px;
}

header div#header_title p {
	position: absolute;
	color: #ffffff;
	font-family: verdana;
	top: 20%;
	margin: 0;
}

/* --- HEADER NAV MENU --- */
header nav#header_menu_nav {
	position: relative;
	float: right;
	top: -50%;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

header nav#header_menu_nav ul {
	list-style: none;
	display: inline-block; /* makes menu bar wrap screen width (inline won't) */
	text-decoration: none;
	font-family: Verdana, Copperplate Gothic Light, serif;
	font-size: 14px;
	color: #ffffff;
	font-weight: light;
	outline: none;
}

/* List items ltr(left), rtl(right),top-bot/vertically(center) */
header nav#header_menu_nav ul li {
	float: left;
}

/* Top-level menu buttons, Hovering look and feel */
header nav#header_menu_nav ul li:hover {
	transition: all 0.5s ease-in-out;
	/*all (bg and text) OR background (just bg)*/
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	background: #f3f3f3;
	text-decoration: none;
	font-family: Verdana, Copperplate Gothic Light, serif;
	font-size: 17px;
	color: #2eafb0;
	font-weight: light;
	outline: none;
	filter: alpha(opacity = 100);
	opacity: 1;
	-moz-opacity: 1;
}

/* Top level menu button and link styling */
header nav#header_menu_nav ul li a {
	color: #ffffff; /* Top-level menu button link-text color */
	display: block;
	padding: 12px 20px;
	text-decoration: none;
	filter: alpha(opacity = 100);
	opacity: 1;
	-moz-opacity: 1;
}

/* menu and submenu text on hovering */
header nav#header_menu_nav ul li:hover a {
	color: #2eafb0; /* menu item and sub-item text color on hover */
	filter: alpha(opacity = 100);
	opacity: 1;
	-moz-opacity: 1;
}

/* Tells the nav-ul-ul level not to always display menu contents */
header nav#header_menu_nav ul ul {
	display: none;
	z-index: 889
}

/* no change if removed */
header nav#header_menu_nav ul li:hover>ul {
	background: #f1831d; /* Sub-menu background color */
	text-decoration: none;
	display: block; /* sub-menu allowed to display */
	font-family: Verdana, Helvetica, Copperplate Gothic Light, Arial, sans-serif;
	font-size: 14px;
	font-weight: light;
	outline: none;
	filter: alpha(opacity = 95); /* transparency */
	opacity: 0.95;
	-moz-opacity: 0.95;
	padding: 0;
	position: absolute; /* Only show 1 block, current tabbed menu list */
	z-index: 2;
	list-style-type: none;
}

header nav#header_menu_nav ul li:hover>ul li a {
	text-decoration: none;
	color: #ffffff;
	filter: alpha(opacity = 100);
	opacity: 1;
	-moz-opacity: 1;
	padding: 10px 40px 10px 15px;
	font-family: Verdana, Helvetica, Copperplate Gothic Light, Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
}

header nav#header_menu_nav ul li:hover>ul li a:hover {
	background: #f1831d;
	background: -moz-linear-gradient(top, #f3f3f3 60%, #f1831d 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #f3f3f3),
		color-stop(100%, #f1831d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f3f3f3 60%, #f1831d 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f3f3f3 60%, #f1831d 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f3f3f3 60%, #f1831d 100%);/* IE10+ */
	background: linear-gradient(to bottom, #f3f3f3 60%, #f1831d 100%);/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3',
		endColorstr='#f1831d', GradientType=0); /* IE6-8 */
	filter: alpha(opacity = 100);
	color: #7f2b82;
	opacity: 1;
	-moz-opacity: 1;
	font-family: Verdana, Helvetica, Copperplate Gothic Light, Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
}

/* Sub-menu list item, No Change when Removed */
header nav#header_menu_nav ul ul li {
	text-decoration: none;
	float: none;
	position: relative;
}
/* End header and menu */

/* --- AUTO-RESIZE HEADER Class .smaller ---*/
header.smaller {
	height: 75px;
}

header.smaller nav#header_menu_nav {
	top: -200%;
}

/* --- Window Resize ---*/
@media all and (max-width: 660px) {

}

/* --- REST OF BODY --- */
.body_container {
	margin-top: 160px;
	position: relative;
	z-index: -1;
	background: #f3f3f3 url("../res/img/body_bg.png");
}

.body_section { /* position is static by default */
	margin: 0px 100px;
	word-wrap: break-word;
}

h2 {
	font-family: Verdana;
	color: #ff7a20;
	text-align: center;
}

h2:before {
	display: block;
	content: " ";
	margin-top: -110px;
	height: 110px;
	visibility: hidden;
}

#top_span_anchor {
	display: block;
	content: " ";
	margin-top: -160px;
	height: 160px;
	visibility: hidden;
}

.return_top_div {
	position: relative;
	margin-right: 40px;
	padding-bottom: 20px;
	text-align: right;
	right: 0;
	bottom: 0;
}

footer {
	background-color: #ff7a20;
	position: relative;
	z-index: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 110px;
	text-align: center;
}

footer #left_footer_child {
	background-color: #2eafb0;
	height: 100px;
	width: 50%;
	margin: 0;
	color: #ffffff;
	float: left;
	display: inline-block;
	
}

footer #right_footer_child {
	background-color: #2eafb0;
	height: 100px;
	width: 50%;
	float: right;
	display: inline-block;
	color: #ffffff;
	
}

.three-column {
	padding: 1em;
	-moz-column-count: 3;
	-moz-column-gap: 1em;
	-webkit-column-count: 3;
	-webkit-column-gap: 1em;
	column-count: 3;
	column-gap: 1em;
}

.two-column {
	padding: 1em;
	-moz-column-count: 2;
	-moz-column-gap: 1em;
	-webkit-column-count: 2;
	-webkit-column-gap: 1em;
	column-count: 2;
	column-gap: 1em;
}
